<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-admin}">

<head>
    <title>Thêm / Sửa Video</title>
</head>

<body>

<div layout:fragment="content">

    <h3 class="mt-3 mb-3">Thêm / Sửa Video</h3>

    <form th:object="${video}" th:action="@{/admin/videos/save}" method="post">

        <input type="hidden" th:field="*{videoId}" />

        <div class="mb-3">
            <label class="form-label">Title:</label>
            <input class="form-control" th:field="*{title}" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Poster (URL):</label>
            <input class="form-control" th:field="*{poster}" />
        </div>

        <div class="mb-3">
            <label class="form-label">Views:</label>
            <input class="form-control" type="number" th:field="*{views}" />
        </div>

        <div class="mb-3">
            <label class="form-label">Description:</label>
            <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Category:</label>
            <select class="form-select" th:field="*{category}">
                <option value="">-- Chọn Danh Mục --</option>

                <option th:each="cate : ${categories}"
                        th:value="${cate}"
                        th:text="${cate.categoryName}">
                </option>

            </select>
        </div>

        <div class="mb-3">
            <label>Active:</label>
            <select class="form-select" th:field="*{active}">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>

        <button class="btn btn-primary">Lưu</button>
        <a class="btn btn-secondary" th:href="@{/admin/videos/list}">Quay lại</a>

    </form>

</div>

</body>
</html>
