<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="col-4 mx-auto p-4 border rounded bg-white">
        <h3 class="text-center mb-3">Đăng Nhập</h3>

        <form method="post" th:action="@{/login}">
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

            <div class="mb-3">
                <label>Tài khoản</label>
                <input type="text" name="username" class="form-control" required/>
            </div>

            <div class="mb-3">
                <label>Mật khẩu</label>
                <input type="password" name="password" class="form-control" required/>
            </div>

            <button class="btn btn-primary w-100">Đăng nhập</button>
        </form>
    </div>

</div>

</body>
</html>
