<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-admin}">

<head>
    <title>Thêm / Sửa Category</title>
</head>

<body>

<div layout:fragment="content">

    <h3 class="mb-3 mt-2">Thêm / Sửa Category</h3>

    <form th:action="@{/admin/categories/save}" method="post" th:object="${category}">
        <input type="hidden" th:field="*{categoryId}"/>

        <div class="mb-3">
            <label class="form-label">Tên Category</label>
            <input class="form-control" th:field="*{categoryName}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Mã Category</label>
            <input class="form-control" th:field="*{categoryCode}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Images</label>
            <input class="form-control" th:field="*{images}" />
        </div>

        <div class="mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" th:field="*{status}">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Lưu</button>
        <a class="btn btn-secondary" th:href="@{/admin/categories/list}">Quay lại</a>

    </form>

</div>

</body>
</html>
